Source: calamares-lliurex-modules
Section: utils
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Rules-Requires-Root: no
Build-Depends:  
		debhelper-compat (=13),
		cmake,
		qt6-base-dev, 
		qt6-declarative-dev,
		extra-cmake-modules, 
		calamares-dev, 
		plasma-framework6, 
		libkf6coreaddons-dev, 
		libkf6dbusaddons-dev
Standards-Version: 4.6.2
Homepage: https://lliurex.net
Vcs-Git: https://github.com/lliurex/calamares-lliurex-modules

Package: calamares-lliurex-modules
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: custom lliurex calamares modules
 Custom lliurex calamares modules
